# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\module2\case_Study_module2_QuanLyHocSinh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
